.flex{
    display: flex;
}

.flex div{
    flex: 1
}

.image{
   margin: 50px;
    margin-bottom: 300px;
    cursor: zoom-out;
}

.brand{
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-size: 0.75em;
    line-height: 2.6;
}

.title{
    font-size: 25px;
    font-weight: bold;
    line-height: 2.6;
}

.price{
    font-size: 16px;
    letter-spacing: 0.1em;
    line-height: 2.6;
}

.rightDetails{
    width: 600px;
    height:  500px;
    padding: 60px
}

.addButton button{
    width: 80%;
    min-height: 50px;
    background-color: white;
    border: 1px solid black;
    letter-spacing: 0.3rem;
    font-weight: bold;
    margin: 10px 0 30px 0;
}

.addButton button:hover{
    background-color: black;
    opacity: 0.8;
    color: white;
    cursor: pointer;
}

.desc{
    width: 530px;
    letter-spacing: 0.1em;
    font-size: 0.95em;
    line-height: 1.6;
   
}